@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Spline+Sans&display=swap');

:root {
  --background-color: #212121;
  --font-spline-sans: 'Spline Sans', sans-serif;
  --font-bebas-neue: 'Bebas Neue', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-spline-sans);

  &::-webkit-scrollbar {
    width: 0.5rem;

    &-thumb {
      border-radius: 0.5rem;
      background: #fff;
    }

    &-track {
      border-radius: 0.5rem;
      background: var(--background-color);
    }

  }
}

p {
  font-family: var(--font-spline-sans);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: var(--font-spline-sans);
}

@media (max-width: 768px) {
  p {
    font-size: 0.875rem;
  }
}