.header__wrapper {
    background: var(--background-color);
    position: relative;
    z-index: 1;

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
    }
}

.flex__one {
    display: flex;
    flex: 2;
    justify-content: space-between;

    .logo {
        flex: 0.5;
    }
}

.flex__two {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    div {
        color: #fff;
        font-family: var(--font-spline-sans);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.02rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        line-height: 100%;
    }
}

.logo div {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
}

.location {
    div div p {
        color: #D9D9D9;
        line-height: 120%;
        letter-spacing: -0.02rem;
    }

    div div:last-of-type p {
        color: #FFF;
    }
}