.footer__wrapper {
    background: #eeee;
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    position: fixed;
    width: 100%;
    z-index: 0;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding-bottom: 1rem;

    .footer__top {
        display: flex;
        width: 90%;
        margin: 2em auto;
    }

    .links__container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        .column {
            display: flex;
            gap: 2rem;

            .numbering {
                font-family: 'Bebas Neue', sans-serif;
            }

            .column__content {
                display: flex;
                flex-direction: column;


                h3 {
                    text-transform: uppercase;
                    font-size: 1.25em;
                    font-family: 'Bebas Neue', sans-serif;
                    margin-bottom: 2rem;
                }

                a {
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                }
            }
        }

        a {
            color: var(--background-color);
            font-size: 1rem;
            width: 100%;
        }
    }

    .connect__link {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        height: 34px;

        a {
            span {
                color: var(--background-color);
                font-size: 2rem;
                font-family: 'Bebas Neue', sans-serif;
            }

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                height: 3px;
                width: 100%;
                background-color: var(--background-color);
            }
        }
    }

    .briefing {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;

        p {
            font-size: 0.875rem;
        }
    }

    .big__name {
        overflow-y: hidden;

        h1 {
            max-width: 1200px;
            width: 90%;
            margin: 0 auto;
            color: var(--background-color);
            font-size: 25rem;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            line-height: 90%;
            text-transform: uppercase;
            letter-spacing: -0.375rem;
            display: flex;
            gap: 0.1rem;
        }
    }
}