.sidemenu__wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(38px);
    transform-origin: top;

    .sidemenu__inner {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        margin-top: 120px;

        .nav__container,
        .profile__links {
            list-style: none;
        }

        .nav__container {
            flex: 1.33;
            width: 100%;
        }

        .profile__links__container {
            flex: 1;
        }

        .nav__container li {
            overflow-y: hidden;
        }

        .nav__container li div {
            position: relative;
            bottom: -140px;

            a {
                color: #FFF;
                font-family: 'Bebas Neue';
                font-size: 8rem;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -0.16rem;
                text-transform: uppercase;
                transition: all 1s cubic-bezier(0.83,
                        0,
                        0.17,
                        1);

                &:hover {
                    letter-spacing: 1rem;
                }

                span {
                    letter-spacing: -0.45rem;
                    margin-right: 1.5rem;
                }

                &.active {
                    pointer-events: none;
                }
            }
        }

        .profile__links {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            max-width: 13rem;
            width: 100%;

            li {
                width: 100%;
                overflow-y: hidden;

                div {
                    position: relative;
                    bottom: -140px;

                    a {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        color: #FFF;
                        font-family: 'Spline Sans';
                        font-size: 1rem;
                        font-weight: 400;
                        position: relative;
                        padding: 0.2rem 0;

                        &:after {
                            position: absolute;
                            content: '';
                            height: 0.125rem;
                            background: #fff;
                            width: 100%;
                            transform: scaleX(0);
                            bottom: -1px;
                            transition: transform 1s cubic-bezier(0.83,
                                    0,
                                    0.17,
                                    1);
                            transform-origin: right;
                        }

                        &:hover {
                            &:after {
                                transform: scaleX(1);
                                transform-origin: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

.email {
    margin-top: 9.7rem;
    font-family: 'Spline Sans';
    color: #FFF;
    font-weight: 400;

    div {
        overflow-y: hidden;

        &:first-child p {
            font-size: 1rem;
            text-decoration-line: none;
        }

        p {
            color: #FFF;
            font-size: 1.25rem;
            text-decoration: underline;
            position: relative;
            bottom: -140px;
        }
    }

    @media(max-width: 768px) {
        margin-top: 2.5em;
    }

}

@media (max-width: 768px) {
    .sidemenu__wrapper {
        .sidemenu__inner {
            flex-direction: column;

            .nav__container {
                flex: 1;
                width: 100%;
            }

            .profile__links__container {
                flex: 0;
            }

            .profile__links {
                flex-direction: row;
                max-width: 100%;
                margin-top: 2rem;

                li {
                    div {

                        a {}
                    }
                }
            }

            .nav__container li div {
                bottom: -140px;

                a {
                    font-size: 5.8rem;
                    letter-spacing: -0.16rem;
                    text-transform: uppercase;
                    transition: all 1s cubic-bezier(0.83,
                            0,
                            0.17,
                            1);

                    &:hover {
                        letter-spacing: 1rem;
                    }

                    span {
                        letter-spacing: -0.45rem;
                        margin-right: 1.5rem;
                    }

                    &.active {
                        pointer-events: none;
                    }
                }
            }
        }
    }
}