.wrapper {
    width: 100%;
    padding: 2em 0 0;
    margin-top: auto;
    background: var(--background-color);
    position: relative;
    z-index: 1;

    .inner {
        width: 90%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        h1 {
            color: #FFF;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -0.245rem;


            span {
                font-size: 12.5rem;
                letter-spacing: -0.6675rem;
            }

            &:first-of-type {
                overflow-y: hidden;

                span {
                    font-size: 5rem;
                }
            }

            &:last-of-type span {
                font-size: 27rem;
                margin-top: -50px;
                gap: 0;
            }
        }

        h3 {
            color: #FFF;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            margin-left: auto;
            margin-top: -6rem;
            position: relative;

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
                z-index: 3;
            }
        }

    }

    @media (max-width: 768px) {

        .inner {
            margin-top: 2.5rem;

            h1 {
                span {
                    font-size: 4rem;
                    letter-spacing: -0.5675rem;
                }

                &:first-of-type {
                    overflow-y: hidden;

                    span {
                        font-size: 3rem;
                    }
                }

                &:last-of-type span {
                    font-size: 8rem;
                    margin-top: 0;
                    gap: 0;
                    margin-right: 0.2rem;
                }
            }

            h3 {
                margin-top: 0;
            }
        }
    }
}