.wrapper {
    width: 100%;
    padding: 2em 0 0;
    margin-top: auto;
    background: var(--background-color);
    position: relative;
    z-index: 1;

    .inner {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 5rem;
            letter-spacing: -0.6675rem;
            color: #FFF;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -0.045rem;
            margin-top: 2rem;
        }

        h1 {
            color: #FFF;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -0.45rem;
            font-size: 27rem;
            margin-top: 4rem;
            display: flex;
            align-items: center;
            gap: 5rem;

            svg {
                width: 4rem;
                height: 4rem;
            }

        }

        h3 {
            color: #FFF;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            margin-left: auto;
            position: relative;
            font-size: 2rem;

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
                z-index: 3;
            }
        }

    }

    @media (max-width: 768px) {

        .inner {
            margin-top: 6rem;
            h2 {
                font-size: 2rem;
                letter-spacing: -0.0675rem;
            }

            h1 {
                font-size: 8rem;
                gap: 2rem;
                margin-top: 2rem;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }

            h3 {
                margin-top: 4rem;
                font-size: 1rem;
            }
        }
    }
}