.row__inner {
    display: flex;
    flex-direction: column;

    .work__title {
        color: #FFF;
        font-family: 'Bebas Neue';
        font-size: 8rem;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.16rem;
        text-transform: uppercase;
    }

    a {
        color: #FFF;
        font-family: 'Spline Sans';
        font-size: 1rem;
        font-weight: 400;
        text-decoration-line: underline;
        text-transform: uppercase;
        margin-top: 1.5rem;
    }

    .flex__ctn {
        display: flex;
        align-items: center;
    }

    .item__one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 3;
        gap: 0.5rem;

        &>p {
            max-width: 26rem;
            color: #FFF;
            font-family: 'Spline Sans';
            font-size: 1rem;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.02rem;
        }

        .client__collaborators {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            p {
                color: #FFF;
                font-family: 'Spline Sans';
                font-size: 1rem;
                font-weight: 400;
            }

            p:first-child {
                text-decoration: underline;
            }
        }
    }

    .item__two {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;

        p {
            color: #FFF;
            font-family: 'Spline Sans';
            font-size: 1rem;
            font-weight: 400;
        }

        p:first-child {
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        .work__title {
            font-size: 6rem;
        }

        .flex__ctn {
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;
        }

        .item__one {
            flex-direction: column;
            justify-content: space-between;
            flex: 3;
            gap: 1rem;
            align-items: flex-start;

            &>p {
                max-width: 26rem;
                color: #FFF;
                font-family: 'Spline Sans';
                font-size: 0.875rem;
                letter-spacing: -0.01rem;
            }

            .client__collaborators {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                p {
                    font-size: 0.875rem;
                }
            }
        }

        .item__two {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;

            p {
                color: #FFF;
                font-family: 'Spline Sans';
                font-size: 0.875rem;
                font-weight: 400;
            }

            p:first-child {
                text-decoration: underline;
            }
        }
    }
}



.line__drawer {
    background-color: #D9D9D9;
    height: 1px;
    width: 100%;
    margin: 1em 0;
}